* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(13, 13, 66, 0.8);
    font-size: 20px;
}

hr {
    margin-top: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    margin-left: 35px;
}

form {
    background: #0f0f32;
    color: #f3f3f3;
    width: 45vw;
    margin: 80px;
}

#title {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#description {
    text-align: center;
    margin-right: 22px;
}

#name {
    width: 25vw;
    height: 4vh;
    padding-left: 5px;
    font-size: 15px;
}

#email {
    width: 25vw;
    height: 4vh;
    padding-left: 5px;
    font-size: 15px;

}

#number {
    width: 25vw;
    height: 4vh;
    padding-left: 5px;
    font-size: 15px;

}

.names {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 22px;
}

#comments {
    width: 39vw;
    height: 30vh;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    margin-top: 15px;
}

#dropdown {
    width: 26vw;
    height: 5vh;
    text-align: center;
    font-size: 15px;
}

#submit {
    width: 30vw;
    height: 5vh;
    background: rgb(58, 149, 58);
    margin-bottom: 35px;
    margin-left: 60px;
    font-size: 15px;
}